<div>
  <label for="date">date</label>
  <input type="date" name="date" id="date" (input)="onDateChange($event.target.value)">
</div>
<div>
  <label for="currency">Money</label>
  <input type="number" name="currency" id="currency" (input)="onAmountChange($event.target.value)">
</div>
<div>
  <label for="miles">Miles to Km</label>
  <input type="number" name="miles" id="miles" (input)="onMilesChange($event.target.value)">
</div>
<div>
  <p>{{ dateFromInput | date:"fullDate" }}</p>
  <p>{{ amount | currency:"BGN" }}</p>
  <p>{{dateObj | date:"fullDate"}}</p>
  <p *ngIf="(miles|convert:'cm' > 0)">{{miles | convert:'cm'|number:'1.0-2'}} cm</p>
  <p *ngIf="(miles|convert:'m' > 0)">{{miles | convert:'m'|number:'1.0-2'}} m</p>
  <p *ngIf="(miles|convert:'km' > 0)">{{miles | convert:'km'|number:'1.0-2'}} km</p>
</div>